:root{
    --buttonColor:black;
    --borderColor:rgb(190, 134, 167);
    --mainColor:rgb(104, 104, 37);
    --secondaryColor:rgb(71, 39, 39);
}

#contact-form{
    display: block; 
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid var(--borderColor);
    padding: 15px;
    border-radius: 5px;
    background-color: var(--mainColor);
    margin-bottom: 50px;
}

.input-field{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--secondaryColor);
    border: 1px solid var(--borderColor);
    font-size: 14px;
}
    

#submid-btn{
    margin-top: 10px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    background-color: var(--secondaryColor)
  
}


